<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Cari Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<h1>Cari Pegawai</h1>
			
			<form th:action="" method="">
				<div class="row">
					<div class="col-md-4">Provinsi</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pilih Provinsi
							</button>
							<div th:each="provinsi : ${provinsi}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a th:text="${provinsi.nama}" name="provinsi" th:field="${provinsi.id}" class="dropdown-item" href="#"></a>
							</div>
						</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Nama Instansi</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pilih Instansi
							</button>
							<div th:each="instansi : ${instansi}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a th:text="${instansi.nama}" name="instansi" th:field="${instansi.id}" class="dropdown-item" href="#">Action</a>
							</div>
						</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Jabatan</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pilih Jabatan
							</button>
							<div th:each="jabatan : ${jabatan}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a th:text="${jabatan.nama}" name="jabatan" th:field="${jabatan.id}" class="dropdown-item" href="#">Action</a>
							</div>
						</div>
			    	</div>
				</div>
				<button type="submit" class="btn btn-primary">Tambah</button>
			</form>
			
			<hr>
			<div class="row">
				<div class="col-md-4">
					Show
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">10</a>
							<a class="dropdown-item" href="#">20</a>
							<a class="dropdown-item" href="#">30</a>
						</div>
					</div>
					entries
				</div>
				<div class="col-md-4 offset-md-4">
					Search
					<input type="text" name="" class="form-control" />
				</div>
			</div>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">NIP</th>
			      <th scope="col">Nama</th>
			      <th scope="col">Tempat Lahir</th>
			      <th scope="col">Tanggal Lahir</th>
			      <th scope="col">Tahun Masuk</th>
			      <th scope="col">Nama Instansi</th>
			      <th scope="col">Jabatan</th>
			    </tr>
			  </thead>
			  <tbody>
			    <div th:each="pegawai : ${pegawai}">
			    	<tr>
				      	<td th:text="${pegawai.nip}">Mark</td>
				      	<td th:text="${pegawai.nama}">Mark</td>
				      	<td th:text="${pegawai.tempat_lahir}">Otto</td>
				      	<td th:text="${pegawai.tanggal_lahir}">@mdo</td>
				      	<td th:text="${pegawai.tahun_masuk}">Mark</td>
				      	<td>Instansi</td>
				      	<td>Jabatan</td>
				    </tr>
			    </div>
			  </tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
			   		<li class="page-item disabled">
			      		<a class="page-link" href="#" tabindex="-1">Previous</a>
			    	</li>
			    	<li class="page-item"><a class="page-link" href="#">1</a></li>
			    	<li class="page-item"><a class="page-link" href="#">2</a></li>
			    	<li class="page-item"><a class="page-link" href="#">3</a></li>
			    	<li class="page-item">
			      		<a class="page-link" href="#">Next</a>
			    	</li>
			  	</ul>
			</nav>
		</div>
		
 	</body>
</html>
