<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Cari Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<br>
			<h1>Daftar Jabatan</h1>
			<br>
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-2">Show</div>
						<div class="col-md-2">
							<select class="form-control">
								<option>10</option>
								<option>20</option>
								<option>30</option>
							</select>
						</div>
						<div class="col-md-2">entries</div>					
					</div>
				</div>
				<div class="col-md-4 offset-md-4">
					<div class="row">
						<div class="col-md-2">
							Search:	
						</div>
						<div class="col-md-10">
							<input type="text" name="" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<hr>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">Nama</th>
			      <th scope="col">Deskripsi</th>
			      <th scope="col">Gaji Pokok</th>
			      <th scope="col">Jumlah Pegawai</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<div th:each="jabatan : ${jabatan}">
			  		<tr>
				    	<td th:text="${jabatan.nama}"></td>
				      	<td th:text="${jabatan.deskripsi}"></td>
				      	<td th:text="${jabatan.gajiPokok}"></td>
				      	<td></td>
				    </tr>
			  	</div>
			  </tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
			   		<li class="page-item disabled">
			      		<a class="page-link" href="#" tabindex="-1">Previous</a>
			    	</li>
			    	<li class="page-item"><a class="page-link" href="#">1</a></li>
			    	<li class="page-item"><a class="page-link" href="#">2</a></li>
			    	<li class="page-item"><a class="page-link" href="#">3</a></li>
			    	<li class="page-item">
			      		<a class="page-link" href="#">Next</a>
			    	</li>
			  	</ul>
			</nav>
		</div>
		
 	</body>
</html>
