<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>HOME - SIPEG</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<br>
			<h1 text-center>Sistem Informasi Kepegawaian</h1>
			<br>
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center bg-light mb-3">
						<div class="card-header">
							<h5 class="card-title">Lihat Data Pegawai Berdasarkan NIP</h5>
						</div>
						<form th:action="@{/pegawai}" method="GET">
							<div class="card-body">
								<label for="nip">Masukkan Nomor Induk Pegawai</label>
								<input type="text" name="nip" class="form-control" />
								<p></p>
								<button type="submit" class="btn btn-primary">Cari</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center bg-light mb-3">
						<div class="card-header">
							<h5 class="card-title">Lihat Detail Jabatan</h5>
						</div>
						<form th:action="@{/jabatan/view}" method="GET">
							<div class="card-body">
								<label for="id">Pilih Jabatan</label>
								<select class="form-control" name="id">
									<option>Pilih Jabatan</option>
									<option th:each="jabatan : ${jabatan}" th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
								</select>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center bg-light mb-3">
						<div class="card-header">
							<h5 class="card-title">Lihat Pegawai Termuda dan Tertua</h5>
						</div>
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<div class="card-body">
								<label for="id">Pilih Instansi</label>
								<select class="form-control" name="id">
									<option>Pilih Instansi</option>
									<option th:each="instansi : ${instansi}" th:text="${instansi.nama}" th:value="${instansi.id}"></option>
								</select>
								<p></p>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
 	</body>
</html>
