<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>HOME - SIPEG</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<h1>Sistem Informasi Kepegawaian</h1>
			
			<hr>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Data Pegawai Berdarkan NIP
						</div>
						<form th:action="@{/pegawai}" method="GET">
							<div class="card-body">
								<label for="nip">Masukkan Nomor Induk Pegawai</label>
								<input type="text" name="nip" class="form-control" />
								<button type="submit" class="btn btn-primary">Cari</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<hr>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Detail Jabatan
						</div>
						<div class="card-body">
							<label for="id">Pilih Jabatan</label>
							<form th:action="@{/jabatan/view}" method="GET">
								<select th:each="jabatan : ${jabatan}" name="id">
									<option th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
								</select>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<hr>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Lihat Pegawai Termuda dan Tertua
						</div>
						<div class="card-body">
							<label for="id">Pilih Instansi</label>
							<form th:action="@{/pegawai/termuda-tertua}" method="GET">
								<select th:each="instansi : ${instansi}" name="id">
									<option th:text="${instansi.nama}" th:value="${instansi.id}"></option>
								</select>
								<button type="submit" class="btn btn-primary">Lihat</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
 	</body>
</html>
