<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<br>
			<h1 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h1>
			<br>
			<div class="row">
				<div class="col-md-2"><h6>NIP:</h6></div>
		    	<div th:text="${pegawai.nip}" class="col-md-2"></div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Nama:</h6></div>
		    	<div th:text="${pegawai.nama}" class="col-md-2"></div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Tempat Lahir:</h6></div>
		    	<div th:text="${pegawai.tempatLahir}" class="col-md-2"></div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Tanggal Lahir:</h6></div>
		    	<div th:text="${pegawai.tanggalLahir}" class="col-md-2"></div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Tahun Masuk:</h6></div>
		    	<div th:text="${pegawai.tahunMasuk}" class="col-md-2"></div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Nama Instansi:</h6></div>
		    	<div th:text="${instansi.nama} + ' - ' + ${provinsi.nama}" class="col-md-2"></div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Jabatan:</h6></div>
		    	<div class="col-md-2">
		    		<ul>
		    			<div th:each="jabatan: ${jabatan}">
		    				<li th:text="${jabatan.nama}"></li>
		    			</div>
					</ul>
		    	</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-2"><h6>Gaji:</h6></div>
		    	<div th:text="${gajiPegawai}" class="col-md-2"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<form th:action="@{/pegawai/ubah}" method="GET">
						<input type="hidden" name="nip" th:value="${pegawai.nip}"/>
						<button class="btn btn-lg btn-warning text-white">Ubah</button>
					</form>
				</div>
			</div>
		</div>
 	</body>
</html>
