<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h1>Data Pegawai Termuda</h1>
					<div class="row">
						<div class="col-md-4">NIP</div>
				    	<div th:text="${pegawaiMuda.nip}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Nama</div>
				    	<div th:text="${pegawaiMuda.nama}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Tempat Lahir</div>
				    	<div th:text="${pegawaiMuda.tempat_lahir}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Tanggal Lahir</div>
				    	<div th:text="${pegawaiMuda.tanggal_lahir}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Tahun Masuk</div>
				    	<div th:text="${pegawaiMuda.tahun_masuk}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Nama Instansi</div>
				    	<div th:text="${instansi.nama}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Jabatan</div>
				    	<div class="col-md-4">
				    		<ul>
							  	<li>Cras justo odio</li>
							  	<li>Dapibus ac facilisis in</li>
							  	<li>Morbi leo risus</li>
							  	<li>Porta ac consectetur ac</li>
							  	<li>Vestibulum at eros</li>
							</ul>
				    	</div>
					</div>
					<div class="row">
						<div class="col-md-4">Gaji</div>
				    	<div th:text="${jabatanMuda.gaji_pokok}" class="col-md-4">Rp. 1.000.000,00-</div>
					</div>
				</div>
				<div class="col-md-6">
					<h1>Data Pegawai Tertua</h1>
					<div class="row">
						<div class="col-md-4">NIP</div>
				    	<div th:text="${pegawaiTua.nip}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Nama</div>
				    	<div th:text="${pegawaiTua.nama}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Tempat Lahir</div>
				    	<div th:text="${pegawaiTua.tempat_lahir}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Tanggal Lahir</div>
				    	<div th:text="${pegawaiTua.tanggal_lahir}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Tahun Masuk</div>
				    	<div th:text="${pegawaiTua.tahun_masuk}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Nama Instansi</div>
				    	<div th:text="${instansiTua.nama}" class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-4">Jabatan</div>
				    	<div class="col-md-4">
				    		<ul>
							  	<li>Cras justo odio</li>
							  	<li>Dapibus ac facilisis in</li>
							  	<li>Morbi leo risus</li>
							  	<li>Porta ac consectetur ac</li>
							  	<li>Vestibulum at eros</li>
							</ul>
				    	</div>
					</div>
					<div class="row">
						<div class="col-md-4">Gaji</div>
				    	<div th:text="${jabatanTua.gaji_pokok}" class="col-md-4"></div>
					</div>
				</div>
			</div>
			
		</div>
 	</body>
</html>
