<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Detail Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<h1 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h1>
			<div class="row">
				<div class="col-md-4">NIP</div>
		    	<div th:text="${pegawai.nip}" class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Nama</div>
		    	<div th:text="${pegawai.nama}" class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Tempat Lahir</div>
		    	<div th:text="${pegawai.tempat_lahir}" class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Tanggal Lahir</div>
		    	<div th:text="${pegawai.tanggal_lahir}" class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Tahun Masuk</div>
		    	<div th:text="${pegawai.tahun_masuk}" class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Nama Instansi</div>
		    	<div th:text="${instansi.nama}" class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">Jabatan</div>
		    	<div class="col-md-4">
		    		<ul>
		    			<div th:each="jabatan: ${jabatan}">
		    				<li th:text="${jabatan.nama}"></li>
		    			</div>
					</ul>
		    	</div>
			</div>
			<div class="row">
				<div class="col-md-4">Gaji</div>
		    	<div th:text="${gajiPegawai}" class="col-md-4"></div>
			</div>
			<button class="btn btn-primary">Ubah</button>
		</div>
 	</body>
</html>
