<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<br>
			<h1>Ubah Pegawai</h1>
			<br>
			<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
				<input type="hidden" name="nip" th:value="${pegawai.nip}"/>
				<div class="row">
					<div class="col-md-4">Nama:</div>
			    	<div class="col-md-4">
			    		<input th:text="${pegawai.nama}" type="text" name="nama" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Tempat Lahir:</div>
			    	<div class="col-md-4">
			    		<input th:text="${pegawai.tempatLahir}" type="text" name="tempatLahir" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Tanggal Lahir:</div>
			    	<div class="col-md-4">
			    		<input th:text="${pegawai.tanggalLahir}" type="Date" name="tanggalLahir" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Tahun Masuk:</div>
			    	<div class="col-md-4">
			    		<input th:text="${pegawai.tahunMasuk}" type="text" name="tahunMasuk" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Provinsi:</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<select class="form-control" name="id_provinsi">
								<option>Pilih Provinsi</option>
								<option th:each="provinsi : ${provinsi}" th:text="${provinsi.nama}" th:value="${provinsi.id}"></option>
							</select>
						</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Nama Instansi:</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<select class="form-control" name="id_instansi">
								<option>Pilih Instansi</option>
								<option th:each="instansi : ${instansi}" th:text="${instansi.nama}" th:value="${instansi.id}"></option>
							</select>
						</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Jabatan:</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<select class="form-control" name="id_jabatan">
								<option>Pilih Jabatan</option>
								<option th:each="jabatan : ${jabatan}" th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
							</select>
						</div>
						<a class="nav-link" href="#">Tambah Jabatan Lain</a>
			    	</div>
				</div>
				<button type="submit" class="btn btn-primary">Simpan</button>
			</form>
			
		</div>
 	</body>
</html>
