<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Jabatan</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
 		
		<div class="container-fluid">
			<div th:text="${jabatan?.nama}" class="alert alert-success" role="alert"></div>
			<br>
			<h1>Ubah Jabatan</h1>
			<br>
			<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
				<input type="hidden" name="id" th:value="${jabatan.id}" />
				<div class="row">
					<div class="col-md-4">Nama</div>
			    	<div class="col-md-4">
			    		<input th:value="${jabatan.nama}" type="text" name="nama" class="form-control" />
			    	</div>
				</div>
				<p></p>
				<div class="row">
					<div class="col-md-4">Deskripsi</div>
			    	<div class="col-md-4">
			    		<input th:value="${jabatan.deskripsi}" type="text" name="deskripsi" class="form-control" />
			    	</div>
				</div>
				<p></p>
				<div class="row">
					<div class="col-md-4">Gaji Pokok</div>
			    	<div class="col-md-4">
			    		<input th:value="${jabatan.gajiPokok}" type="number" name="gaji_pokok" class="form-control" />
			    	</div>
				</div>
				<br>
				<button type="submit" class="btn btn-primary">Simpan</button>
			</form>
		</div>
 	</body>
</html>
