<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Pegawai</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	
    	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
 	<body>
 		<nav th:replace="fragments/fragment" :: navbar></nav>
		<div class="container-fluid">
			<h1>Ubah Pegawai</h1>
			<form th:action="@{/pegawai/ubah-submit}" th:object="${pegawai}" method="POST">
				<div class="row">
					<div class="col-md-4">NIP</div>
			    	<div class="col-md-4">
			    		<input th:value="${pegawai.nip}" type="text" name="nip" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Nama</div>
			    	<div class="col-md-4">
			    		<input th:value="${pegawai.nama}" type="text" name="nama" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Tempat Lahir</div>
			    	<div class="col-md-4">
			    		<input th:value="${pegawai.tempat_lahir}" type="text" name="tempat_lahir" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Tanggal Lahir</div>
			    	<div class="col-md-4">
			    		<input th:value="${pegawai.tanggal_lahir}" type="Date" name="tanggal_lahir" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Tahun Masuk</div>
			    	<div class="col-md-4">
			    		<input th:value="${pegawai.tahun_masuk}" type="text" name="tahun_masuk" class="form-control" />
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Provinsi</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pilih Provinsi
							</button>
							<div th:each="provinsi : ${provinsi}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a th:text="${provinsi.nama}" name="provinsi" th:field="${provinsi.id}" class="dropdown-item" href="#"></a>
							</div>
						</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Nama Instansi</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pilih Instansi
							</button>
							<div th:each="instansi : ${instansi}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a th:text="${instansi.nama}" name="instansi" th:field="${instansi.id}" class="dropdown-item" href="#">Action</a>
							</div>
						</div>
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-4">Jabatan</div>
			    	<div class="col-md-4">
			    		<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pilih Jabatan
							</button>
							<div th:each="jabatan : ${jabatan}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a th:text="${jabatan.nama}" name="jabatan" th:field="${jabatan.id}" class="dropdown-item" href="#">Action</a>
							</div>
						</div>
						<a class="nav-link" href="#">Tambah Jabatan Lain</a>
			    	</div>
				</div>
				<button type="submit" class="btn btn-primary">Simpan</button>
			</form>
			
		</div>
 	</body>
</html>
